{% extends 'accounts/base.html' %}
{% load static %}

 {% block content %}
<div class="container">
<div class="row d-flex justify-content-center align-items-center vh-100 " id="form-olvidado">

<div class="col-sm-8 bg-white">
<h4 class="">
      Forgot your password?
    </h4> 
    <form accept-charset="UTF-8" role="form" id="login-recordar" method="post">
    <input type="hidden" name="next" value="{{ next }}">
    {% csrf_token %}
      <fieldset>
        <span class="help-block">
          Email address you use to log in to your account
          <br>
          We'll send you an email with instructions to choose a new password.
        </span>
        <div class="form-group input-group">
          <span class="input-group-addon">
            @
          </span>
          {{form.as_p}}
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
          Continue
        </button>
        <p class="help-block">
          <a class="text-muted" href="#" id="acceso"><small>Account Access</small></a>
        </p>
      </fieldset>
    </form>

</div>
    
  </div>

   
{% endblock content %}



    

