{% extends 'accounts/base.html' %}
{% block content %}


<div class="container">
<div class="row d-flex justify-content-center align-items-center vh-100 " id="form-olvidado">

<div class="col-sm-8 bg-white">
<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form enctype="multipart/form-data" method="post">
{% csrf_token %}
    {% for field in form %}
<div class="form-group">
    {{ field.label}}
    {{field}}

</div>  

{% if field.errors %}
    

      <div class="alert alert-danger" style="margin-top:18px;">
      {{field.errors}}
      </div>
	   

    {% endif %}
    {% endfor %}
	<button type="Submit" name="Update Password" class="btn btn-primary bg-primary"> Enviar</button>   
	
</form>

</div>
  </div>  
  </div>


{% endblock content %}

