<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form enctype="multipart/form-data" method="post">
{% csrf_token %}
    {% for field in form %}
<div class="form-group">
    {{ field.label}}
    {{field}}

</div>  

{% if field.erros %}
    

      <div class="alert alert-danger">
      {{field.errors}}
      </div>
    {% endif %}
    {% endfor %}
	
	
	<button type="Submit" name="Update Password" class="btn btn-primary">
	
</form>