{% extends 'home.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
{% endblock head %}



{% block body %}
<body>
    <!--Header - menu-->
   <!--Header - menu-->
    <header>

        <div class="header-content">

            <div class="logo">
                <h1>Magtimus<b>Pro</b></h1>
            </div>

            <div class="menu" id="show-menu">
                <nav class="navegacion">
                    <ul class="dropdown">
                        <li class=""><a href="{% url 'home' %}" > <i class="fas fa-home"></i> Inicio</a></li>


                    <li class="enlace" id="perfil">
                <a href="#perfil" onclick="myFunction();" class="dropbtn" type="button">
                    <i class="far fa-user"></i>Categorias
                </a>
                <div class="submenu ml-2" id="myDropdown">

                    <a href="{% url 'blog:todos' %}">Todos</a>
                    <a href="{% url 'blog:escatologia' %}">Escatologia</a>
                    <a href="{% url 'blog:evangelio' %}">Evangelio</a>
                    <a href="{% url 'blog:noticias' %}">Noticias</a>
                    <a href="{% url 'blog:apologetica' %}">Apologetica</a>
                    <a href="{% url 'blog:historia' %}">Historia</a>
                    <a href="{% url 'blog:devocionales' %}">Devocionales</a>
                    <a href="{% url 'blog:estudios_biblicos' %}">Estudios</a>
                </div>
                </li>

                        <li class="menu-selected">
                            <a href="{% url 'blog:blog' %}" class="text-menu-selected">
                            <i class="fas fa-file-alt"></i>Blog</a>
                        </li>
                        <li class=""><a href="{% url 'base:contact' %}"> <i class="fas fa-headset"></i> Contacto</a></li>
                        <li class=""><a href="{% url 'base:contact' %}"> <i class="fas fa-headset"></i> Login</a></li>
                        <li class=""><a href="{% url 'accounts:logout' %}"> <i class="fas fa-headset"></i> Logout</a></li>

                    </ul>
       </nav>

            </div>

            <div id="ctn-icon-search">
                <i class="fas fa-search" id="icon-search"></i>
            </div>

        </div>

        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <form action="" method="GET">

    <div id="ctn-bars-search">
        <input type="text" id="inputSearch" placeholder="¿Qué deseas buscar?" name="buscar" value="{{ request.GET.buscar }}">
         
    </div>
  <!--  <button type="submit"><i class="fas fa-search" id="icon-search"></i></button>-->
    </form>
    <ul id="box-search">
        {% for post in posts %}
        <li><a href="{% url 'home' %}"><i class="fas fa-search"></i>{{ post.categoria }} "></a></li>
        

    {% endfor %}
    </ul>

    <div id="cover-ctn-search"></div>


    <!--Portada-->

    <div class="container-all" id="move-content">

    
    <div class="blog-container-cover" style="background-image: url('{% static 'img/hdr-end-times-min.png' %}')" >
        <div class="container-info-cover">
            <h1>¡Encuentra tu tema interes!</h1>
        </div>
    </div>

    <div class="container-post">

        <input type="radio" id="TODOS" name="categories" value="TODOS" checked >
        <input type="radio" id="ESCATOLOGIA" name="categories" value="ESCATOLOGIA">
        <input type="radio" id="ESTUDIOS BIBLICOS" name="categories" value="ESTUDIOS BIBLICOS">
        <input type="radio" id="EVANGELIO" name="categories" value="EVANGELIO">
        <input type="radio" id="NOTICIAS" name="categories" value="NOTICIAS">
        <input type="radio" id="HISTORIA" name="categories" value="HISTORIA">
        <input type="radio" id="APOLOGETICA" name="categories" value="APOLOGETICA">
        <input type="radio" id="DEVOCIONALES" name="categories" value="DEVOCIONALES">

        <div class="container-category">

            <label for="TODOS">TODOS</label>
            <label for="ESCATOLOGIA">ESCATOLOGIA</label>
            <label for="ESTUDIOS BIBLICOS">ESTUDIOS BIBLICOS</label>
            <label for="EVANGELIO">EVANGELIO</label>
            <label for="NOTICIAS">NOTICIAS</label>
            <label for="HISTORIA">HISTORIA</label>
            <label for="APOLOGETICA">APOLOGETICA</label>
            <label for="DEVOCIONALES">DEVOCIONALES</label>

        </div>

        <div class="posts">
            {% if posts %}
                {% for post in posts %}
            <div class="post" data-category="{{ post.categoria}}">

                <div class="ctn-img"><img src="{{ post.imagen_referencial.url }}" alt="" />
                </div>
                <h2 class="post-title"><strong>{{ post.titulo}}</strong></h2>

                <p class="description">{{ post.descripcion }}</p>

                <p class="post-meta"> Escrito por
                   <strong>{{ post.autor }}</strong>   el
                    {{ post.fecha_publicacion }}</p>

                <ul class="ctn-tag">
                    <li>{{ post.categoria }}</li>
                    <strong>Likes :{{ post.likes.all.count }}</strong>
                    

                </ul>
                <hr>
                <a href="{% url 'blog:detalle_post' post.slug %}" ><button>Leer más</button></a>


            </div>
                {% endfor %}
            {% else %}
            <h1>No existen posts registrados</h1>
            {% endif %}






        </div>

    </div>

    <!--Boton de ir hacia arriba-->
    <div id="button-up">
        <i class="fas fa-chevron-up"></i>
    </div>


    <!-- Footer -->
        {% include 'footer.html' %}
    <!-- Block javascript -->
    {% block js %}
    <script src="{% static 'js/script.js'%}"></script>

    {% endblock js %}


</body>
{% endblock body %}

