{% extends 'header_menu.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">


{% endblock %}



{% block body %}
  
{% block content %}

<div class="contenedor">
<br>
<br>

<form action="" method = "POST" class="form" novalidate>
 <div class="form-header">
                <h1 class="form-title">C<span>ontacto</span></h1>

                </div>



        <label class="form-label" for="exampleInputUsername">Nombre</label >
        {{ form.name }}
        {% for error in form.name.errors %}
            <span style="Color:red;">This fields is required : {{ error }}</span>
        {% endfor %}


        <label class="form-label" for="exampleInputEmail">Email </label>
        {{ form.email }}
        {% for error in form.email.errors %}
            <span style="Color:red;">This fields is required : {{ error }}}</span>
        {% endfor %}

        <label class="form-label" for="telephone">Telefono</label>
        {{ form.telephone }}
        {% for error in form.telephone.errors %}
            <span style="Color:red;">This fields is required : {{ error }}</span>
        {% endfor %}

        <label class="form-label" for="asunto">Asunto</label>
        {{ form.subject }}
        {% for error in form.subject.errors %}
            <span style="Color:red;">This fields is required : {{ error }}</span>
        {% endfor %}

        <label class="form-label" for ="description"> Mensage</label>
        {{ form.message }}

    <hr/>

    <input type="submit" value="Enviar" title="Enviar" class="btn-submit " aria-hidden="true"/>
{% csrf_token %}
</form>
{% if submitted %}
 <div class="alert alert-success" role="alert">
   Your message was submitted successfully. Thank you.
 </div>
 {% endif %}
    </div>

{% endblock %}
{% endblock %}