{% load static %}
<div class="container-footer">

    <footer>
        <div class="logo-footer">
            <img src="{% static  '/img/4horsemen-min.jpg' %}" alt="" />

        </div>

        <div class="redes-footer">
            <a href='{{ sociales.facebook }}' target="_blank" ><i class="fab fa-facebook-f icon-redes-footer"></i></a>
            <!--<a href="#"><i class="fab fa-google-plus-g icon-redes-footer"></i></a>-->
            <a href='{{ sociales.twitter }}' target="_blank" ><i class="fab fa-youtube-square icon-redes-footer"></i></a>
        </div>

        <hr>
        <h4>© 2020 Blog Escatologico - Todos los Derechos Reservados</h4>

    </footer>
</div>