
 <!--Header - menu-->
 <header>



    <div class="header-content">

        <div class="logo">
            <h1>{% block titulo %}{{ titulo }}{% endblock titulo %}<b>{% block subtitulo %}{{ subtitulo }}{% endblock %}</b></h1>
        </div>

        <div class="menu" id="show-menu">
                <nav class="navegacion">
                    <ul class="menu2">
                        <li class="menu-selected"><a href={% url 'home' %} > <i class="fas fa-home"></i> Inicio</a></li>


                    <li class="enlace" id="perfil">
                <a href="#perfil" class="padre">
                    <i class="far fa-user"></i>Categorias
                </a>
                <div class="submenu">

                    <a href="{% url 'todos' %}">Todos</a>
                    <a href="{% url 'escatologia' %}">Escatologia</a>
                    <a href="{% url 'evangelio' %}">Evangelio</a>
                    <a href="{% url 'noticias' %}">Noticias</a>
                    <a href="{% url 'apologetica' %}">Apologetica</a>
                    <a href="{% url 'historia' %}">Historia</a>
                    <a href="{% url 'devocionales' %}">Devocionales</a>
                    <a href="{% url 'estudios_biblicos' %}">Estudios</a>


                        <li class="menu-selected">
                            <a href="{% url 'blog' %}" class="text-menu-selected">
                            <i class="fas fa-file-alt"></i>Blog</a>
                        </li>
                        <li class="menu-selected"><a href="{% url 'contact' %}"> <i class="fas fa-headset"></i> Contacto</a></li>

                    </ul>
                </nav>

            </div>

        </div>
        <div id="icon-menu">
            <i class="fas fa-bars"></i>

        </div>

</header>

