{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Blog Escatologico {% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel='stylesheet' href="{% static 'css/articulos.css' %}">
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.6.0/css/bootstrap.min.css' %}">

    
  {% block head %}

      {% endblock head %}
  

</head>

{% block body %}


<script src="{% static 'bootstrap-4.6.0/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'bootstrap-4.6.0/js/bootstrap.min.js' %}"></script>

{% endblock body %}

</html>