{% extends 'header_menu.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">


{% endblock %}


{% block body %}
    <div class= "container">
    {% for objects in objects_list %}
    {% endfor %}

    </div>
{% endblock %}
   


<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <title></title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='' type='text/css' href=''>
</head>
<body>

</body>
<script src=''></script>
</html>
